.root {

}

#buttonLog:hover{
    -fx-text-fill: yellow;
    -fx-font-weight: bold;
}

.button:hover{
    -fx-background-color: #404F81;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

#unitLabel {
    -fx-pref-width: 54px;
    -fx-pref-height: 25px;
    -fx-alignment: center;
}
